spring:
  application:
    name: chatbot-service
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/chatbot}
      database: chatbot

openai:
  api-key: ${OPENAI_API_KEY:k-proj-6MpNLGBAq2ESvhXLNnKZ6wGlbVkcFxOGTZli_F91WEph8swgLO-BgP9MlBFMhaMPbhubDQfI4xT3BlbkFJ7OAdgVSlVXqBTkU1kMIDR9AupGvZqgEC8_7_hsW0kaCg_z32iuQgLRVZ5Dji9HIn5jMDG2CTIA}
  model: ${OPENAI_MODEL:gpt-3.5-turbo}
  initial-prompt: ${INITIAL_PROMPT:You are a helpful assistant. Answer questions based on the provided context and use turkish. }

forum:
  service:
    base-url: ${FORUM_SERVICE_BASE_URL:http://192.168.1.37:8084}

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
